body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}

.custom-scrollbar-grey {
    overflow-x: scroll;
}

.custom-scrollbar-grey::-webkit-scrollbar {
    width: 20px;
}

.custom-scrollbar-grey::-webkit-scrollbar-track {
    background-color: #dde1e6;
}

.custom-scrollbar-grey::-webkit-scrollbar-thumb {
    height: 20px;
    border: 4px solid #dde1e6;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.custom-scrollbar-grey::-webkit-scrollbar-corner {
    background: transparent;
}

/* =1 文件上传页面*/

.file-upload-area {
    margin-top: 100px;
}

/* =2 选择变量*/
.modal-body fieldset {
    margin-top: 30px;
}

.variable-wrapper {
    padding: 2px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    display: inline-block;
    cursor: pointer;
}

.variable-wrapper.active {
    background: #337ab7;
    color: #FFFFFF;
    border-color: #2e6da4;
}

label {
    font-weight: 400;
}

[data-panel="config"] {
    display: none;
}

/* =3 数据展示页面*/
.frequency-table {
    margin: 0 auto 40px;
}